<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Analytics_V2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AnalyticsSoap" maxReceivedMessageSize="10000000"/>
                <binding name="ftpSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vuc0009/Zodiac%20Server%202/analytics.asmx" binding="basicHttpBinding" bindingConfiguration="AnalyticsSoap" contract="AnalyticsWebService.AnalyticsSoap" name="AnalyticsSoap"/>
            <endpoint address="http://vuc0009/Zodiac%20Server%202/ftp.asmx" binding="basicHttpBinding" bindingConfiguration="ftpSoap" contract="FTPWebService.ftpSoap" name="ftpSoap"/>
        </client>
    </system.serviceModel>
    <userSettings>
        <Analytics_V2.Properties.Settings>
            <setting name="hc_config" serializeAs="String">
                <value>\\MIMAS\BUREAUTIQUE\GROUPES\Direction de l'International\POLE INFORMATIQUE\Developpement Internes\References Applications\Analytics 2\_UTILITIES\HC\hc.cfg</value>
            </setting>
            <setting name="local_path" serializeAs="String">
                <value>D:\\</value>
            </setting>
            <setting name="interpretation_template" serializeAs="String">
                <value>\\MIMAS\BUREAUTIQUE\GROUPES\Direction de l'International\POLE INFORMATIQUE\Developpement Internes\References Applications\Analytics 2\_UTILITIES\Process Templates</value>
            </setting>
            <setting name="xml_template" serializeAs="String">
                <value>\\MIMAS\BUREAUTIQUE\GROUPES\Direction de l'International\POLE INFORMATIQUE\Developpement Internes\References Applications\Analytics 2\_UTILITIES\Template_XML.xml</value>
            </setting>
            <setting name="consistency_checking_path" serializeAs="String">
                <value>\\Janus\PRODUCTION\APPLICATIONS\CONSISTENCY CHECKING\MyETV\2014\</value>
            </setting>
            <setting name="defaultEditionMode" serializeAs="String">
                <value>CREATION</value>
            </setting>
        </Analytics_V2.Properties.Settings>
    </userSettings>
</configuration>
